p {
    color: #ec4a4a;
}
.a1 {
    color: #2020db;
}
.cor2 {
    background: #44bd44;
}
body {
    background: #999999;
    background-image: url("img/universo.jpg");
    background-size: 80%;
    background-position: top;
}
h1 {
    background: #fdfd0d;
}
h2 {
    height: 150px;
    text-align: center;
}
.cor1 {
    height: 100px;
    width: 200px;
    margin: auto;
}
a {
    text-decoration: none;
}
h3 {
    color: #2020db;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
    text-align: center;
}